@model soulsoft_delivery_asp.Models.TipoProdutoApiModel

@{
    ViewData["breadcrumb"] = "TiposProdutos";
    ViewData["breadcrumb_url"] = "/TiposProdutos/Index";
    ViewData["title"] = "Cadastrar";
}

<div class="row">
    <!-- left column -->
    <div class="col-md-12">
        <!-- jquery validation -->
        <div class="card card-secundary">
            <div class="card-header">
                <h3 class="card-title">Dados do Tipo de Produto</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form method="post" asp-controller="TiposProdutos" asp-action="CreateOrEdit">
                <div class="card-body">
                    <input type="hidden" asp-for="Id" id="Id">
                    <div class="form-group">
                        <label for="descricao">Nome</label>
                        <input type="text" asp-for="Nome" id="Nome" class="form-control" placeholder="Digite o Nome">
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-0">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" asp-for="Ativo" id="Ativo" class="custom-control-input">
                            <label class="custom-control-label" for="Ativo">Ativo?</label>
                            <span asp-validation-for="Ativo" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <a asp-controller="TiposProdutos" asp-action="Index" class="btn btn-danger">Cancelar</a>
                </div>
            </form>
        </div>
        <!-- /.card -->
    </div>
    <!--/.col (left) -->
    <!-- right column -->
    <div class="col-md-6">

    </div>
    <!--/.col (right) -->
</div>
<!-- /.row -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
