@model soulsoft_delivery_asp.Models.TipoUsuarioApiModel

@{
    ViewData["breadcrumb"] = "TiposUsuarios";
    ViewData["breadcrumb_url"] = "/TiposUsuarios/Index";
    ViewData["title"] = "Cadastrar";
}

<div class="row">
    <!-- left column -->
    <div class="col-md-12">
        <!-- jquery validation -->
        <div class="card card-secundary">
            <div class="card-header">
                <h3 class="card-title">Dados do Tipo de Usuário</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form method="post" asp-controller="TiposUsuarios" asp-action="CreateOrEdit">
                <div class="card-body">
                    <input type="hidden" asp-for="Id" id="Id">
                    <div class="form-group">
                        <label for="descricao">Nome</label>
                        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o Nome">
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                    @*<div class="form-group">
                        <div class="form-check">
                            <input type="checkbox" asp-for="ativo" class="form-check-input" id="ativo">
                            <label class="form-check-label" for="exampleCheck1"><b>Ativo?</b></label>
                            <span asp-validation-for="ativo" class="text-danger"></span>
                        </div>
                    </div>*@
                    <div class="form-group mb-0">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" asp-for="Ativo" class="custom-control-input" id="ativo">
                            <label class="custom-control-label" for="ativo">Ativo?</label>
                            <span asp-validation-for="Ativo" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <a asp-controller="TiposUsuarios" asp-action="Index" class="btn btn-danger">Cancelar</a>
                </div>
            </form>
        </div>
        <!-- /.card -->
    </div>
    <!--/.col (left) -->
</div>
<!-- /.row -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
