@model soulsoft_delivery_asp.Models.LoginApi

@{
    Layout = "~/Views/Shared/_Layout_login.cshtml";
    ViewBag.Title = "Index";
}
<div class="w-100">
    <div class="container">
        <div class="center">
            <div class="card" style="width:300px;">
                <h5 class="card-header">
                    <div class="row">
                        <div class="col-10">
                            SoulSoft Delivery
                        </div>
                        <div class="col-2">
                            <i class="fa fa-arrow-right"></i>
                        </div>
                    </div>
                </h5>
                <div class="card-body">
                    <h5 class="card-title">Entre com seus dados</h5>

                    @if (ViewData["LoginMessage"] != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @ViewData["LoginMessage"]
                        </div>
                    }

                    <div>
                        <form method="post" asp-controller="Login" asp-action="Index" id="FormUsuario">
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" asp-for="usuario" class="form-control" id="usuario">
                                <span asp-validation-for="usuario" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="senha" class="form-label">Senha</label>
                                <input type="password" asp-for="Senha" class="form-control" id="Senha">
                                <span asp-validation-for="Senha" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Entrar</button>
                            <span><a href="#">Esqueceu sua senha?</a></span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

