@model soulsoft_delivery_asp.ViewModels.UsuarioViewModel

@{
    ViewData["breadcrumb"] = "Usuários";
    ViewData["breadcrumb_url"] = "/Usuarios/Index";
    ViewData["title"] = "Cadastrar";
}

<div class="row">
    <!-- left column -->
    <div class="col-md-12">
        <!-- jquery validation -->
        <div class="card card-secundary">
            <div class="card-header">
                <h3 class="card-title">Dados do Usuário</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form method="post" asp-controller="Usuarios" asp-action="CreateOrEdit">
                <div class="card-body">
                    <input type="hidden" id="id" asp-for="Usuario.id">
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input type="text" class="form-control" id="nome" asp-for="Usuario.nome" placeholder="Digite o Nome">
                        <span asp-validation-for="Usuario.nome" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="telefone">Telefone</label>
                        <input type="text" class="form-control telefone" id="telefone" asp-for="Usuario.telefone" placeholder="Digite o Telefone">
                        <span asp-validation-for="Usuario.telefone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" asp-for="Usuario.email" placeholder="Digite o Email">
                        <span asp-validation-for="Usuario.email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input type="text" class="form-control senha" id="senha" asp-for="Usuario.senha" placeholder="Digite a Senha">
                        <span asp-validation-for="Usuario.senha" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="tipo_usuario_id">Tipo de Usuário</label>
                        <select asp-for="Usuario.tipo_usuario_id" class="form-control" id="tipo_usuario_id">
                            <option></option>
                            @foreach (var TipoUsuario in Model.TiposUsuarios)
                            {
                                <option value="@TipoUsuario.Id">@Html.DisplayFor(modelItem => TipoUsuario.Nome)</option>
                            }
                        </select>
                        <span asp-validation-for="Usuario.tipo_usuario_id" class="text-danger"></span>
                    </div>
                    @*<div class="form-group mb-0">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" asp-for="Usuario.ativo" class="custom-control-input" id="ativo">
                            <label class="custom-control-label" for="situacao">Ativo?</label>
                            <span asp-validation-for="Usuario.ativo" class="text-danger"></span>
                        </div>
                    </div>*@
                    <div class="form-group">
                        <div class="form-check">
                            <input type="checkbox" asp-for="Usuario.ativo" class="form-check-input" id="ativo">
                            <label class="form-check-label" for="exampleCheck1"><b>Ativo?</b></label>
                            <span asp-validation-for="Usuario.ativo" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <a asp-controller="Usuarios" asp-action="Index" class="btn btn-danger">Cancelar</a>
                </div>
            </form>
        </div>
        <!-- /.card -->
    </div>
    <!--/.col (left) -->
    <!-- right column -->
    <div class="col-md-6">

    </div>
    <!--/.col (right) -->
</div>
<!-- /.row -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
