@model soulsoft_delivery_asp.ViewModels.UsuarioViewModel

@{
    ViewData["breadcrumb"] = "Usuários";
    ViewData["breadcrumb_url"] = "/Usuarios/Index";
    ViewData["title"] = "Cadastrar";
}

<div class="row">
    <!-- left column -->
    <div class="col-md-12">
        <!-- jquery validation -->
        <div class="card card-secundary">
            <div class="card-header">
                <h3 class="card-title">Dados do Usuário</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form method="post" asp-controller="Usuarios" asp-action="CreateOrEdit">
                <div class="card-body">
                    <input type="hidden" asp-for="Usuario.Id">
                    <input type="hidden" asp-for="Usuario.EmpresaId">
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input type="text" class="form-control" id="Nome" asp-for="Usuario.Nome" placeholder="Digite o Nome">
                        <span asp-validation-for="Usuario.Nome" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="telefone">Telefone</label>
                        <input type="text" class="form-control telefone" id="Telefone" asp-for="Usuario.Telefone" placeholder="Digite o Telefone">
                        <span asp-validation-for="Usuario.Telefone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="Email" asp-for="Usuario.Email" placeholder="Digite o Email">
                        <span asp-validation-for="Usuario.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input class="form-control" asp-for="Usuario.Senha" placeholder="Digite a Senha">
                        <span asp-validation-for="Usuario.Senha" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="tipo_usuario_id">Tipo de Usuário</label>
                        <select asp-for="Usuario.TipoUsuarioId" class="form-control" id="TipoUsuarissoId">
                            <option></option>
                            @foreach (var TipoUsuario in Model.TiposUsuarios)
                            {
                                <option value="@TipoUsuario.Id">@Html.DisplayFor(modelItem => TipoUsuario.Nome)</option>
                            }
                        </select>
                        <span asp-validation-for="Usuario.TipoUsuarioId" class="text-danger"></span>
                    </div>
                    @*<div class="form-group mb-0">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" asp-for="Usuario.ativo" class="custom-control-input" id="ativo">
                <label class="custom-control-label" for="situacao">Ativo?</label>
                <span asp-validation-for="Usuario.ativo" class="text-danger"></span>
            </div>
        </div>*@
                    @*<div class="form-group">
            <div class="form-check">
                <input type="checkbox" asp-for="Usuario.ativo" class="form-check-input" id="ativo">
                <label class="form-check-label" for="exampleCheck1"><b>Ativo?</b></label>
                <span asp-validation-for="Usuario.ativo" class="text-danger"></span>
            </div>
        </div>*@
                    <div class="form-group mb-0">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" asp-for="Usuario.Ativo" class="custom-control-input" id="ativo">
                            <label class="custom-control-label" for="ativo">Ativo?</label>
                            <span asp-validation-for="Usuario.Ativo" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <a asp-controller="Usuarios" asp-action="Index" class="btn btn-danger">Cancelar</a>
                </div>
            </form>
        </div>
        <!-- /.card -->
    </div>
    <!--/.col (left) -->
    <!-- right column -->
    <div class="col-md-6">

    </div>
    <!--/.col (right) -->
</div>
<!-- /.row -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
